<div class="container px-2 pb-2" >
  <div class="row">
    <%= render '/layouts/leftcontents' %>
    <div class="col-7 p-0 border-right border-secondary border-left border-secondary" style="height: 1000px;">
      <div class="px-3 pt-4">
        <h3>投稿記事編集</h3>
        <%= form_with model: [@article, @comment] do |f| %>
          <div class="form-group">
            <label for="article_content">content</label><br>
            <%= f.text_area :comment,class: "form-control" %>
          </div>
          <%= f.submit "Save" ,class: "btn btn-secondary" %>
        <% end %>
        <% if flash[:alert] %>
          <div class="mt-2 p-2 border border-danger">
            <h5 class="text-danger">投稿エラー</h5>
            <div>
              <%= flash[:alert] %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col">
    </div>
  </div>
</div>