<% articles.each do |article| %>
  <div class="d-flex flex-row border border-2 rounded-2 mb-2">
    <div class="p-3">
      <%= link_to image_tag(article.user.get_profile_image(48,48)),user_path(article.user) %>
    </div>
    <div class="d-flex flex-column">
      <div><%= article.user.name %></div>
      <%= link_to article_path(article) do %>
        <div><%= article.content %></div>
      <% end %>
      <div class="d-flex">
        <%= link_to article_path(article) do %>
          <div class="pr-2"><i class="fa-solid fa-comment"></i><%= article.article_comments.count %></div>
        <% end %>
        <div id="likes_buttons_<%= post.id %>">
          <%= render 'likes/like', article: article %>
         </div>
        <% if current_user == article.user %>
          <%= link_to article_path(article) , method: :delete do %>
            <div class="pr-2"><i class="fa-solid fa-trash"></i></div>
          <% end %>
          <%= link_to edit_article_path(article) do %>
            <div class="pr-2"><i class="fa-solid fa-pen-to-square"></i></div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>