<div class="container px-2 pb-2" >
  <div class="row">
    <%= render '/layouts/leftcontents' %>
    <div class="col-7 p-0 border-right border-secondary border-left border-secondary" style="height: 1000px;">
      <div class="border-bottom border-secondary">
        <div class="p-4">
          <h3>ホーム</h3>
          <%= form_with model: @article do |f| %>
            <div class="d-flex bd-highlight">
              <div class="pr-2">
                <%= link_to image_tag(current_user.get_profile_image(48,48)),user_path(current_user) %>
              </div>
              <div class="form-group w-100">
                <%= f.text_area :content ,class: "form-control" %>
              </div>
            </div>
            <div class="form-group text-right">
              <%= f.submit "つぶやく" ,class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col p-2">
        <%= render 'postplace' ,articles: @articles %>
      </div>

    </div>
    <div class="col">
      <%= render 'layouts/error' , obj: @article %>
    </div>
  </div>
</div>