<div class="container px-2 pb-2" >
  <div class="row">
    <%= render '/layouts/leftcontents' %>
    <div class="col-7 p-0 border-right border-secondary border-left border-secondary" style="height: 1000px;">
      <div class="border-bottom border-secondary">
        <div class="p-4 d-flex">
          <div class="pr-3">
            <%= link_to  'javascript:history.back()'  do %>
              <i class="fa-lg fa-solid fa-arrow-left-long"></i>
            <% end %>
          </div>
          <div>
            <h4>Tubuyaki</h4>
          </div>
        </div>

        <div class="d-flex flex-row mb-2">
          <div class="p-3">
            <%= link_to image_tag(@article.user.get_profile_image(48,48)),user_path(@article.user) %>
          </div>
          <div class="d-flex flex-column">
            <%= link_to user_path(@article.user) do %>
              <div><%= @article.user.name %></div>
            <% end %>
            <div><%= @article.content %></div>

            <% if current_user == @article.user %>
              <div class="d-flex">
                <%= link_to article_path(@article) , method: :delete do %>
                  <div class="pr-2"><i class="fa-solid fa-trash"></i></div>
                <% end %>
                <%= link_to edit_article_path(@article) do %>
                  <div class="pr-2"><i class="fa-solid fa-pen-to-square"></i></div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>

      </div>
      <div class="p-3">
        <% @comments.each do |comment| %>
          <div class="d-flex flex-row mb-2">
            <div class="p-3">
              <%= link_to image_tag(comment.user.get_profile_image(48,48)),user_path(comment.user) %>
            </div>
            <div class="d-flex flex-column">
              <%= link_to user_path(comment.user) do %>
                <div><%= comment.user.name %></div>
              <% end %>
              <div><%= comment.comment %></div>
              <div class="d-flex">
                <% if current_user == comment.user %>
                  <div class="likes_buttons_<%= comment.article.id %>">
                    <%= render 'likes/like', article: comment.article %>
                  </div>
                  <%= link_to article_article_comment_path(comment.article.id, comment.id), method: :delete do %>
                    <div class="pr-2"><i class="fa-solid fa-trash"></i></div>
                  <% end %>
                  <%= link_to edit_article_article_comment_path(comment.article.id, comment.id) do %>
                    <div class="pr-2"><i class="fa-solid fa-pen-to-square"></i></div>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <div class="p-3">
        <h3>コメントフォーム</h3>
        <%= form_with model: [@article, @comment] do |f| %>
          <div class="form-group">
            <%= f.text_area :comment , class: "form-control" %>
          </div>
          <div class="pb-2">
            <%= f.submit "送信" ,class: "btn btn-outline-primary" %>
          </div>
        <% end %>
        <% if flash[:alert] %>
          <div class="p-2 border border-danger">
            <h5 class="text-danger">投稿エラー</h5>
            <div>
              <%= flash[:alert] %>
            </div>
          </div>
        <% end %>
      </div>

    </div>
    <div class="col">
      Column
    </div>
  </div>
</div>