<div class="container px-2 pb-2" >
  <div class="row">
    <%= render '/layouts/leftcontents' %>
    <div class="col-7 p-0 border-right border-secondary border-left border-secondary" style="height: 1000px;">
      <div class="border-bottom border-secondary">
        <div class="p-4 d-flex">
          <div class="pr-3">
            <%= link_to  articles_path  do %>
              <i class="fa-lg fa-solid fa-arrow-left-long"></i>
            <% end %>
          </div>
          <div>
            <h4><%= @user.name %></h4>
            <p><%= @articles.count %> つぶやき</p>
          </div>
        </div>
        <div class="mx-3 mb-1 d-flex justify-content-between">
          <div>
            <%= image_tag(@user.get_profile_image(133,133)) %>
          </div>
          <div class="pt-5 ml-4">
            <%= link_to  edit_user_path(@user), class: "border rounded-pill p-2" do %>
              プロフィール編集
            <% end %>
          </div>
        </div>
      </div>
      <div class="col p-2">
        <% if @articles.count == 0 %>
          <h4>何かつぶやいてみよう！</h4>
        <% else %>
          <% @articles.each do |article| %>
            <div class="d-flex flex-row border border-2 rounded-2">
              <div class="pr-3">
                <%= link_to image_tag(article.user.get_profile_image(48,48)),user_path(current_user) %>
              </div>
              <div class="d-flex flex-column">
                <div><%= article.user.name %></div>
                <div><%= article.content %></div>
                <div>
                  <% if user_signed_in? %>
                    <%= link_to article_path(article), method: :delete do %>
                      <i class="fa-solid fa-trash"></i>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>