<div class="container px-2 pb-2" >
  <div class="row">
    <%= render '/layouts/leftcontents' %>
    <div class="col-7 p-0 border-right border-secondary border-left border-secondary" style="height: 1000px;">
      <div class="border-bottom border-secondary">
        <div class="p-4 d-flex">
          <div class="pr-3">
            <%= link_to  'javascript:history.back()' do %>
              <i class="fa-lg fa-solid fa-arrow-left-long"></i>
            <% end %>
          </div>
          <div>
            <h4><%= @user.name %></h4>
          </div>
          <div class="pl-4 d-flex justify-content-end">
            <div class="pl-2">
              <%= @articles.count %> つぶやき
            </div>
            <div class="pl-2">
              <%= link_to user_followers_path(@user.id) do %>
                フォロワー<%= @user.followers.count %>人
              <% end %>
            </div>
            <div class="pl-2">
              <%= link_to user_followings_path(@user.id) do %>
                フォロー<%= @user.followings.count %>人
              <% end %>
            </div>
            <div>
              <%= render "follow_form", user: @user %>
            </div>
          </div>
        </div>
        <div class="mx-3 mb-1 d-flex justify-content-between">
          <div>
            <%= image_tag(@user.get_profile_image(133,133)) %>
          </div>
          <div class="p-4 ml-4">
            <%= link_to  edit_user_path(@user), class: "border rounded-pill p-2" do %>
              プロフィール編集
            <% end %>
          </div>
        </div>
        <div>
          <% unless @user.id == current_user.id %>
            <% if @room_bool == true %>
              <%= link_to rooms_path do %>
                <i class="fa-solid fa-message"></i>
              <% end %>
            <% else %>
              <%= form_with model: @room do |f| %>
                <%= fields_for @entry do |r| %>
                  <%= r.hidden_field :user_id, value: @user.id %>
                <% end %>
                <%= f.submit "チャットを始める" %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="col p-2">
        <% if @articles.count == 0 && @user == current_user %>
          <h4>何かつぶやいてみよう！</h4>
        <% else %>
          <%= render 'articles/postplace' ,articles: @articles %>
        <% end %>
      </div>
    </div>

  </div>
</div>