#レイアウトなどに関してはまだ未実装
<% if @messages.present? %>
  <% @messages.each do |m| %>
    <div class="chat-box">
      <div class="chat-face">
        <%= image_tag m.user.avatar, class: "user-image" %>
      </div>
      <div class="chat-hukidashi"> <strong><%= m.content %></strong> <br>
        <%= m.created_at.strftime("%Y-%m-%d %H:%M")%>
      </div>
    </div>
  <% end %>
<% end %>
<div>
  <%= form_with model: @message do |f| %>
    <%= f.text_field :content, placeholder: "メッセージを入力して下さい" , size: 70, class: "form-text-field" %>
      <%= f.hidden_field :room_id, value: @room.id %>
        <%= f.submit "投稿",class: 'form-submit'%>
  <% end %>
</div>